body {
	font: 12px/18px arial, sans-serif;
    margin: 4em auto;
    width: 480px;
}

h1 {
	font: 21px Georgia, "Times New Roman", Times, serif;
}

h2 {
	font: 18px Georgia, "Times New Roman", Times, serif;
}

img[align=right] {
    margin: 0 0 2em 2em;
    border: 1px solid #eee;
    padding: 4px;
}

small a {
    font-family:arial, sans-serif;
    font-size: 12px;
    font-variant:small-caps;
    letter-spacing:1px;
    word-spacing:1px;
    text-decoration:none;
}